<ngb-alert [type]="errorMessage[0] == '@' ? 'success' : 'danger'" [hidden]="errorMessage == ''" (close)="errorMessage = ''">{{ errorMessage[0] == '@' ? errorMessage.slice(1) : errorMessage }}</ngb-alert>
<div class="input-group">
	<span class="input-group-prepend" placement="right" ngbTooltip="{{ 'afterworks.fileTooltip' | translate }}">
		<span class="input-group-text">{{ 'afterworks.file' | translate }}</span>
	</span>
	<span class="form-control" name="editFileName" placement="bottom" ngbTooltip="{{ editFileName }}">{{ editFileName }}</span>
	<span class="input-group-append">
		<button class="btn btn-secondary" type="button" (click)="editOpenFile()">{{ 'afterworks.openFile' | translate }}</button>
	</span>
</div>
<div class="container" [hidden]="editFileName == ''">
	<div class="row">
		<div class="col">
			<p>{{ 'afterworks.lengthOfMeasurement' | translate }}: {{ editLen }} {{ 'afterworks.timeMU' | translate }}</p>
		</div>
		<div class="col">
			<table>
				<tr>
					<th>{{ 'afterworks.key' | translate }}</th>
					<th>{{ 'afterworks.occurence' | translate }}</th>
				</tr>
				<tr *ngFor="let key of editKeyboard">
					<td>{{ key.key }}</td>
					<td>{{ key.name }} (<i>{{ key.type }}</i>)</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<div class="input-group" [hidden]="editFileName == ''">
	<span class="input-group-prepend" placement="right" ngbTooltip="{{ 'afterworks.saveTypeTooltip' | translate }}">
		<span class="input-group-text">{{ 'afterworks.saveType' | translate }}</span>
	</span>
	<select class="form-control custom-select" name="editFileType" [(ngModel)]="editFileType">
		<option value="xlsx" selected>{{ 'analysis.excel' | translate }} (xlsx)</option>
		<option value="ods">{{ 'analysis.libreoffice' | translate }} (ods)</option>
		<option value="csv">{{ 'analysis.raw' | translate }} (csv)</option>
	</select>
	<span class="input-group-append">
		<button class="btn btn-secondary" (click)="editDropFile()">{{ 'afterworks.drop' | translate }}</button>
		<button class="btn btn-primary" (click)="editSaveFile()">{{ 'afterworks.save' | translate }}</button>
	</span>
</div>

<hr [hidden]="editFileName == ''">

<div class="input-group" [hidden]="editFileName == ''">
	<span class="input-group-prepend" placement="right" ngbTooltip="{{ 'afterworks.edit.identifierEditTooltip' | translate }}">
		<span class="input-group-text">{{ 'afterworks.edit.identifier' | translate }}</span>
	</span>
	<select class="form-control custom-select" name="editIdent" [(ngModel)]="editIdent">
		<option value="*">{{ 'afterworks.edit.all' | translate }}</option>
		<option *ngFor="let ident of editIdents" [value]="ident">{{ ident }}</option>
	</select>
</div>

<table class="table edit" [hidden]="editFileName == ''">
	<thead>
		<tr>
			<th><span placement="right" ngbTooltip="{{ 'afterworks.edit.numberTooltip' | translate }}">#</span></th>
			<th><span placement="right" ngbTooltip="{{ 'afterworks.edit.keyTooltip' | translate }}">{{ 'afterworks.edit.key' | translate }}</span></th>
			<th><span placement="right" ngbTooltip="{{ 'afterworks.edit.nameTooltip' | translate }}">{{ 'afterworks.edit.name' | translate }}</span></th>
			<th><span placement="right" ngbTooltip="{{ 'afterworks.edit.orderTooltip' | translate }}">{{ 'afterworks.edit.order' | translate }}</span></th>
			<th><span placement="right" ngbTooltip="{{ 'afterworks.edit.timeTooltip' | translate }}">{{ 'afterworks.edit.time' | translate }}</span></th>
			<th><span placement="right" ngbTooltip="{{ 'afterworks.edit.identifierTooltip' | translate }}">{{ 'afterworks.edit.identifier' | translate }}</span></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let event of eventList.reverse(); let i = index" [hidden]="editIdent != '*' && event.ident != editIdent">
			<td>{{ eventList.length - i }}</td>
			<td><input type="text" maxlength="1" name="key{{i}}" class="form-control" [(ngModel)]="event.key" (change)="recalculateEventList()"></td>
			<td>{{ event.name }} (<i>{{ event.type }}</i>)</td>
			<td>{{ event.freq }}</td>
			<td><input type="number" min="0" name="time{{i}}" class="form-control" [(ngModel)]="event.time" (change)="recalculateEventList()"></td>
			<td>
				<select name="ident{{i}}" class="form-control custom-select" [(ngModel)]="event.ident" (change)="recalculateEventList()">
					<option *ngFor="let ident of editIdents" [value]="ident">{{ ident }}</option>
				</select>
			</td>
			<td><button class="btn btn-secondary" (click)="removeFromEventList(eventList.length - i - 1)" placement="bottom" ngbTooltip="{{ 'afterworks.edit.remove' | translate }}">x</button></td>
		</tr>
	</tbody>
</table>

<div class="input-group" [hidden]="editFileName == ''">
	<span class="input-group-prepend" placement="right" ngbTooltip="{{ 'afterworks.edit.keyTooltip' | translate }}">
		<span class="input-group-text">{{ 'afterworks.edit.key' | translate }}</span>
	</span>
	<input type="text" maxlength="1" class="form-control" name="addEventListKey" [(ngModel)]="addEventListKey">
	<span class="input-group-insert" placement="right" ngbTooltip="{{ 'afterworks.edit.timeTooltip' | translate }}">
		<span class="input-group-text">{{ 'afterworks.edit.time' | translate }}</span>
	</span>
	<input type="number" min="1" class="form-control" name="addEventListTime" [(ngModel)]="addEventListTime">
	<span class="input-group-insert" placement="right" ngbTooltip="{{ 'afterworks.edit.identifierTooltip' | translate }}">
		<span class="input-group-text">{{ 'afterworks.edit.identifier' | translate }}</span>
	</span>
	<select name="addEventListIdent" class="form-control custom-select" [(ngModel)]="addEventListIdent">
		<option *ngFor="let ident of editIdents" [value]="ident">{{ ident }}</option>
	</select>
	<span class="input-group-append">
		<button class="btn btn-secondary" (click)="addToEventList()" placement="top" ngbTooltip="{{ 'afterworks.edit.add' | translate }}">+</button>
	</span>
</div>
