<ngb-alert [type]="errorMessage[0] == '@' ? 'success' : 'danger'" [hidden]="errorMessage == ''" (close)="errorMessage = ''">{{ errorMessage[0] == '@' ? errorMessage.slice(1) : errorMessage }}</ngb-alert>
<div class="jumbotron">
	<h4>{{ 'keyboard.title' | translate }}</h4>
	<div ngbDropdown class="btn-group d-inline-block">
		<button class="btn btn-outline-primary" id="loadKeyboard" ngbDropdownToggle>{{ 'keyboard.loadKeys' | translate }}</button>
		<div class="dropdown-menu" aria-labelledby="loadKeyboard">
			<button class="dropdown-item" *ngFor="let recent of recents" (click)="openFile(recent.path)">{{ recent.filename }}</button>
			<button class="dropdown-item" (click)="openFileDialog()">{{ 'keyboard.chooseFile' | translate }}</button>
		</div>
	</div>
	<button type="button" class="btn btn-primary" (click)="createNewBoard()">{{ 'keyboard.createNewFile' | translate }}</button>
</div>
<div class="jumbotron" [hidden]="saveFile == ''">
	<h4>
		<span placement="right" ngbTooltip="{{ saved ? '' : ('keyboard.unsavedChanges' | translate) }}" [ngClass]="{'warning': !saved}">{{ keyboard.name }}{{ saved ? '' : '*' }}</span>
		<button class="btn btn-primary" (click)="saveBoard()">{{ 'keyboard.save' | translate }}</button>
		<button class="btn btn-secondary" (click)="restoreBoard()">{{ 'keyboard.restore' | translate }}</button>
	</h4>
	<table class="table">
		<thead>
			<tr>
				<th><span placement="right" ngbTooltip="{{ 'keyboard.keyTooltip' | translate }}">{{ 'keyboard.key' | translate }}</span></th>
				<th><span placement="right" ngbTooltip="{{ 'keyboard.nameTooltip' | translate }}">{{ 'keyboard.name' | translate }}</span></th>
				<th><span placement="right" ngbTooltip="{{ 'keyboard.typeTooltip' | translate }}">{{ 'keyboard.type' | translate }}</span></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let key of keyboard; let i = $index;">
				<td>
					<div class="input-group">
						<input class="form-control" maxlength="1" [(ngModel)]="key.key" (change)="keyChange($event); saved = false;">
					</div>
				</td>
				<td>
					<div class="input-group">
						<input class="form-control" [(ngModel)]="key.name" (change)="saved = false">
					</div>
				</td>
				<td>
					<div class="input-group btn-group btn-group-toggle" [(ngModel)]="key.type" ngbRadioGroup name="type{{i}}">
						<label ngbButtonLabel class="btn-secondary">
							<input ngbButton type="radio" [value]="'i'" (change)="saved = false"> I
						</label>
						<label ngbButtonLabel class="btn-secondary">
							<input ngbButton type="radio" [value]="'e'" (change)="saved = false"> E
						</label>
					</div>
				</td>
				<td>
					<button class="input-group-x btn btn-secondary" placement="right" ngbTooltip="{{ 'keyboard.remove' | translate }}" (click)="removeKey(i)">X</button>
				</td>
			</tr>
			<tr>
				<td colspan="3"><button class="addkey btn btn-primary" placement="right" ngbTooltip="{{ 'keyboard.add' | translate }}" (click)="addKey()">+</button></td>
			</tr>
		</tbody>
	</table>
</div>
