<ngb-alert [type]="errorMessage[0] == '@' ? 'success' : 'danger'" [hidden]="errorMessage == ''" (close)="errorMessage = ''">{{ errorMessage[0] == '@' ? errorMessage.slice(1) : errorMessage }}</ngb-alert>
<div class="input-group">
	<span class="input-group-prepend" placement="right" ngbTooltip="{{ 'afterworks.fileTooltip' | translate }}">
		<span class="input-group-text">{{ 'afterworks.file' | translate }}</span>
	</span>
	<span class="form-control" name="splitFileName" placement="bottom" ngbTooltip="{{ splitFileName }}">{{ splitFileName }}</span>
	<span class="input-group-append">
		<button class="btn btn-secondary" type="button" (click)="splitOpenFile()">{{ 'afterworks.openFile' | translate }}</button>
	</span>
</div>
<div class="container" [hidden]="splitFileName == ''">
	<div class="row">
		<div class="col">
			{{ 'afterworks.lengthOfMeasurement' | translate }}: {{ splitLen }} {{ 'afterworks.timeMU' | translate }}
		</div>
		<div class="col">
			<table>
				<tr>
					<th>{{ 'afterworks.key' | translate }}</th>
					<th>{{ 'afterworks.occurence' | translate }}</th>
				</tr>
				<tr *ngFor="let key of splitKeyboard">
					<td>{{ key.key }}</td>
					<td>{{ key.name }} (<i>{{ key.type }}</i>)</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="input-group" [hidden]="splitFileName == ''">
	<span class="input-group-prepend" placement="right" ngbTooltip="{{ 'afterworks.saveTypeTooltip' | translate }}">
		<span class="input-group-text">{{ 'afterworks.saveType' | translate }}</span>
	</span>
	<select class="form-control custom-select" name="splitFileType" [(ngModel)]="splitFileType">
		<option value="xlsx" selected>{{ 'analysis.excel' | translate }} (xlsx)</option>
		<option value="ods">{{ 'analysis.libreoffice' | translate }} (ods)</option>
		<option value="csv">{{ 'analysis.raw' | translate }} (csv)</option>
	</select>
	<span class="input-group-append">
		<button class="btn btn-secondary" (click)="splitDropFile()">{{ 'afterworks.drop' | translate }}</button>
		<button class="btn btn-primary" (click)="splitSaveFile()">{{ 'afterworks.save' | translate }}</button>
	</span>
</div>
<hr [hidden]="splitFileName == ''">
<div class="container" [hidden]="splitFileName == ''">
	<div class="row">
		<div class="col">
			<div class="input-group">
				<span class="input-group-prepend" placement="right" ngbTooltip="{{ 'afterworks.split.lengthTooltip' | translate }}">
					<span class="input-group-text">{{ 'afterworks.split.length' | translate }}</span>
				</span>
				<input type="number" class="form-control" name="splitLength" [(ngModel)]="splitLength" (change)="splitLengthChange($event)" min="1" [attr.max]="clipLen">
				<span class="input-group-append">
					<span class="input-group-text">{{ 'afterworks.timeMU' | translate }}</span>
				</span>
			</div>
		</div>
		<div class="col">
			<div class="input-group">
				<span class="input-group-prepend" placement="right" ngbTooltip="{{ 'afterworks.split.piecesTooltip' | translate }}">
					<span class="input-group-text">{{ 'afterworks.split.pieces' | translate }}</span>
				</span>
				<input type="number" class="form-control" name="splitNum" [(ngModel)]="splitNum" (change)="splitNumChange($event)" min="1">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="progress splitBar">
				<div class="progress-bar" role="progressbar" aria-valuemin="0" [attr.aria-valuemax]="splitLen" *ngFor="let i of Arr(splitNum); let j = index" [attr.aria-valuenow]="(j == splitNum - 1 ? (splitLen - (splitNum - 1) * splitLength) : splitLength)" [style.width]="(j == splitNum - 1 ? (splitLen - (splitNum - 1) * splitLength) : splitLength) / splitLen * 100 + '%'"
				    placement="bottom" ngbTooltip="{{ j * splitLength | number:'1.1-1' }} mp - {{ (j == splitNum - 1 ? splitLen : (j+1) * splitLength) | number:'1.1-1' }} mp">{{ j * splitLength | number:'1.1-1' }} mp - {{ (j == splitNum - 1 ? splitLen : (j+1) * splitLength) | number:'1.1-1' }} mp</div>
			</div>
		</div>
	</div>
</div>
