<ngb-alert [type]="errorMessage[0] == '@' ? 'success' : 'danger'" [hidden]="errorMessage == ''" (close)="errorMessage = ''">{{ errorMessage[0] == '@' ? errorMessage.slice(1) : errorMessage }}</ngb-alert>
<div class="input-group">
	<span class="input-group-prepend" placement="right" ngbTooltip="{{ 'afterworks.fielTooltip' | translate}}">
		<span class="input-group-text">{{ 'afterworks.file' | translate}}</span>
	</span>
	<span class="form-control" name="mergeFileName" placement="bottom" ngbTooltip="{{ mergeFileNames.length }}">{{ mergeFileNames.length }}</span>
	<span class="input-group-append">
		<button class="btn btn-secondary" type="button" (click)="mergeOpenFile()">{{ 'afterworks.openFile' | translate}}</button>
	</span>
</div>
