<ngb-alert [type]="errorMessage[0] == '@' ? 'success' : 'danger'" [hidden]="errorMessage == ''" (close)="errorMessage = ''">{{ errorMessage[0] == '@' ? errorMessage.slice(1) : errorMessage }}</ngb-alert>
<div class="input-group">
	<span class="input-group-prepend" placement="right" ngbTooltip="{{ 'afterworks.fileTooltip' | translate }}">
		<span class="input-group-text">{{ 'afterworks.file' | translate }}</span>
	</span>
	<span class="form-control" name="clipFileName" placement="bottom" ngbTooltip="{{ clipFileName }}">{{ clipFileName }}</span>
	<span class="input-group-append">
		<button class="btn btn-secondary" type="button" (click)="clipOpenFile()">{{ 'afterworks.openFile' | translate }}</button>
	</span>
</div>
<div class="container" [hidden]="clipFileName == ''">
	<div class="row">
		<div class="col">
			{{ 'afterworks.lengthOfMeasurement' | translate }}: {{ clipLen }} {{ 'afterworks.timeMU' | translate }}
		</div>
		<div class="col">
			<table>
				<tr>
					<th>{{ 'afterworks.key' | translate }}</th>
					<th>{{ 'afterworks.occurence' | translate }}</th>
				</tr>
				<tr *ngFor="let key of clipKeyboard">
					<td>{{ key.key }}</td>
					<td>{{ key.name }} (<i>{{ key.type }}</i>)</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="input-group" [hidden]="clipFileName == ''">
	<span class="input-group-prepend" placement="right" ngbTooltip="{{ 'afterworks.clip.saveTypeTooltip' | translate }}">
		<span class="input-group-text">{{ 'afterworks.saveType' | translate }}</span>
	</span>
	<select class="form-control custom-select" name="clipFileType" [(ngModel)]="clipFileType">
		<option value="xlsx" selected>{{ 'analysis.excel' | translate }} (xlsx)</option>
		<option value="ods">{{ 'analysis.libreoffice' | translate }} (ods)</option>
		<option value="csv">{{ 'analysis.raw' | translate }} (csv)</option>
	</select>
	<span class="input-group-append">
		<button class="btn btn-secondary" (click)="clipDropFile()">{{ 'afterworks.drop' | translate }}</button>
		<button class="btn btn-primary" (click)="clipSaveFile()">{{ 'afterworks.save' | translate }}</button>
	</span>
</div>
<hr [hidden]="clipFileName == ''">
<div class="container" [hidden]="clipFileName == ''">
	<div class="row">
		<div class="col">
			<div class="input-group">
				<span class="input-group-prepend" placement="right" ngbTooltip="{{ 'afterworks.clip.beginTooltip' | translate }}">
					<span class="input-group-text">{{ 'afterworks.clip.begin' | translate }}</span>
				</span>
				<input type="number" class="form-control" name="clipFrom" [(ngModel)]="clipFrom" min="0" [attr.max]="clipLen" (change)="clipChange()">
				<span class="input-group-append">
					<span class="input-group-text">{{ 'afterworks.timeMU' | translate }}</span>
				</span>
			</div>
		</div>
		<div class="col">
			<div class="input-group">
				<span class="input-group-prepend" placement="right" ngbTooltip="{{ 'afterworks.clip.endTooltip' | translate }}">
					<span class="input-group-text">{{ 'afterworks.clip.end' | translate }}</span>
				</span>
				<input type="number" class="form-control" name="clipTo" [(ngModel)]="clipTo" min="0" [attr.max]="clipLen" (change)="clipChange()">
				<span class="input-group-append">
					<span class="input-group-text">{{ 'afterworks.timeMU' | translate }}</span>
				</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="progress clipBar">
				<div class="progress-bar bg-danger" role="progressbar" aria-valuemin="0" [attr.aria-valuemax]="clipLen" [attr.aria-valuenow]="clipFrom" [style.width]="(clipFrom / clipLen) * 100 + '%'"></div>
				<div class="progress-bar bg-info" role="progressbar" aria-valuemin="0" [attr.aria-valuemax]="clipLen" [attr.aria-valuenow]="clipTo - clipFrom" [style.width]="((clipTo - clipFrom) / clipLen) * 100 + '%'">{{ clipFrom }} mp - {{ clipTo }} mp</div>
				<div class="progress-bar bg-danger" role="progressbar" aria-valuemin="0" [attr.aria-valuemax]="clipLen" [attr.aria-valuenow]="clipLen - clipTo" [style.width]="((clipLen - clipTo) / clipLen) * 100 + '%'"></div>
			</div>
		</div>
	</div>
</div>
