/* You can add global styles to this file, and also import other style files */

.nav-tabs {
    margin-top: 10px;
}

.nav-tabs .nav-item:first-child {
    padding-left: 30px;
}

.card-body {
    display: none;
}

.card-body.show {
    display: block;
}

.show .dropdown-menu {
    display: block;
}

.input-group-insert .input-group-text {
    border-radius: 0;
}
