ngb-alert {
	display: block;
	padding: 30px;
	position: fixed;
	top: 30px;
	left: 0;
	box-sizing: border-box;
	z-index: 100;
	width: 100%;
}

video {
	width: 100%;
}

.jumbotron {
	max-width: 20cm;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

.jumbotron:first-of-type {
	margin-top: 30px;
}

h4 span.warning {
	color: #ec971f;
}

.jumbotron:first-child {
	margin-top: 15px;
}

.input-group {
	margin-bottom: 15px;
}

.container .row div:first-child {
	padding-left: 0;
}

.container .row div:last-child {
	padding-right: 0;
}
